*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* Love Focus Hate */
a:link {
    color: white;
}

a:visited {
    color: white;
}

a:focus {
    color: white;
}

a:hover {
    color: cornflowerblue;
}

a:active {
    color: cornflowerblue;
}

/* Navbar Kod */

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #06101f, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #06101f, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Noto Sans', sans-serif;
}

.logo{
    color: white;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.NavLinks {
    display: flex;
    justify-content: space-around;
    width: 30%;
    list-style: none;
}

.NavLinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 20px;
    padding: 8px;
    border-radius: 2px;

    /*Underline Hover code*/
    background-image: linear-gradient(90deg,white,white);
    background-size: 0% 3px;
    background-repeat: no-repeat;
    background-position: left bottom;
    transition: background-size 250ms ease;
}

.NavLinks a:hover {
    background-size: 100% 3px;
}

/* Main content (Bilder, informatio/text) */
main {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #09182e, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #09182e, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/* Kod från w3schools */
.column {
    float: left;
    width: 50%;
    padding: 10px;
    height: 300px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

/*  Min Egna Kod */

.main-title {
    padding: 50px;
    font-family: 'Noto Sans', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 55px;
}

.main-information {
    font-family: 'Noto Sans', sans-serif;
    padding-left: 10rem;
    padding-right: 10rem;
    font-size: 25px;
}

p, h1 {
    color: white;
}
 
.container {
    height: 60vh;
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #09182e, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #09182e, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

i {
    font-size: 200px;
    color: white;
    display: inline-block;
    width: 100%;
    text-align: center;
    
}

.CPU-Explained {
    padding-top: 5rem;
    display: flex;
    justify-content: center;
}


/* Footer */

.Footer {
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #06101f, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #06101f, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 4rem;
    padding-top: 4rem;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 auto;
    color: white;
    font-family: 'Noto Sans', sans-serif;   
}


/* Första Columnen*/

.Footer_Header_1 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    font-size: 20px;
}

.Footer_Header_1 h2 {
    margin-bottom: 2rem;
}

.Footer_Header_1 a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}


/* Andra Columnen*/

.Footer_Header_2 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    font-size: 20px;
}

.Footer_Header_2 h2 {
    margin-bottom: 2rem;
}

.Footer_Header_2 a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}


/* Tredje Columnen*/

.Footer_Header_3 {
    display: flex;
    flex-direction: column;
    margin-right: 4rem;
    font-size: 20px;
}

.Footer_Header_3 h2 {
    margin-bottom: 2rem;
}

.Footer_Header_3 a {
    color: white;
    text-decoration: none;
    margin-bottom: 0.5rem;
}
